[buildout]
extends = development.cfg
parts +=
    supervisor-cronjob


[django]
# Use the staging settings instead of developmentsettings.
settings = stagingsettings


[serverconfig]
# Staging-specific settings.
supervisor-port = TODO
